
.home-container {
  position: relative;
  overflow: hidden;
  height: 100vh;  
  width: 100%;
  background-image: url('/assets/background_home.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-section {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s, transform 1s;
}


.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-side {
  flex: 1;
  padding: 20px;
  text-align: left; 
  color: #640D5F; 
}

.text-side h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #fffcfd; 
}

.text-side p {
  font-size: 1.25rem;
  color: #000; 
}

img {
  width: 100%; 
  height: auto; 
  max-height: 500px; 
  object-fit: cover; 
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.1rem;
  background-color: #640D5F; 
  color: white; 
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #D91656; 
}


.active {
  opacity: 1;
  transform: translateX(0);
}
