.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0;
    background-image: url('/assets/background_home.jpg'); /* Add background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}

.login-box {
    display: flex;
    max-width: 700px;
    width: 100%;
    background-color: #FFD7C4; /* Light orange background */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.login-form {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    width: 250px;
    transform: translate(610px,30px);
    margin-top: 20px;
}

a{
    font-size: 15px;
    color: #2c3e50; /* Dark blue color */
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    color: #333;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #2c3e50; /* Dark blue color */
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.signin-btn {
    width: 100%;
    padding: 12px;
    background-color: #640D5F; /* Deep purple background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.signin-btn:hover {
    background-color: #D91656; /* Bright pinkish-red background on hover */
}

.social-login {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.login-image {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}