<!-- <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/wellness">Wellness</a></li>
      <li><a routerLink="/safety">Safety</a></li>
      <li><a routerLink="/aboutus">About Us</a></li>
    </ul>
  </nav>
   -->

   <nav class="navbar">
    <div class="navbar-brand">
      <!-- Website name on the left -->
      <a routerLink="/" class="brand-name">
        SAFE<br>
        SECURE<br>
        SERENE
      </a>
    </div>
    
    <ul class="navbar-menu">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/wellness">Wellness</a></li>
      <li><a routerLink="/safety">Safety</a></li>
      <li><a routerLink="/aboutus">About Us</a></li>
    </ul>
  </nav>
  