.container {
  background-image: url('/assets/background_home.jpg'); 
  background-size: cover; 
  background-position: center; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding-top: 50px; 
  min-height: 100vh; 
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

input {
  padding: 8px;
  font-size: 14px;
  width: 300px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 8px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  color: #8C3061 ;
}

button:hover {
  background-color: #8C3061;
  color: white;
  border: none;
  transition: background-color 0.3s;
}


.content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
}

.map-container {
  height: 500px;
  width: 60%;
  border: 3px solid #ddd;
  border-radius: 10px;
  margin-right: 20px;
}

.weather-container {
  width: 35%; 
  padding: 15px;
  background-color: #e5c0c0;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.placeholder-message {
  width: 35%;
  padding: 15px;
  background-color: #FFD7C4;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; 
}